GOOGLE_SHEETS_SOURCES=[
  {
    "id": "1zavGOGsAvlmqN3dPfU_OYaTTtC158HVEWZnivpagqZQ",
    "name": "Timesheet A",
    "defaultYear": 2024
  },
  {
    "id": "1uqseFKIV1NGbvcYOums0UAUTRVvZwcwRTi9oFJv5JwQ",
    "name": "Timesheet B",
    "defaultYear": 2024
  }
]
DEFAULT_TIMEZONE=Europe/Moscow
